// New Nav
nav.topNav {
  background-color: #b9dde7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}
nav.topNav li {
  list-style: none;
}
nav.topNav .navBar .desktopNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
nav.topNav .navBar .desktopNav ul {
  display: flex;
}
nav.topNav .navBar .desktopNav ul li {
  padding: 0 20px;
}
nav.topNav .navBar .desktopNav ul li a {
  line-height: 1.45rem;
}
nav.topNav .navBar .desktopNav ul li:nth-child(3) a {
  font-size: 2.1rem;
  margin: 10px 30px;
}
nav.topNav .navBar .desktopNav h1 {
  padding: 10px 25px;
}

/* Mobile Navigation*/

.mobileNav {
  display: none;
}

nav.topNav .navBar {
  width: 100%;
}
nav.topNav .navBar .mobileNav h1 {
  font-size: clamp(2rem, 12vw, 3rem);
  position: absolute;
  z-index: 10;
  top: 28px;
  left: 35px;
  color: #f6f6f6;
}
nav.topNav .navBar .mobileNav ul {
  background: #e3e4eacc;
  position: fixed;
  z-index: 20;
  width: 100%;
  top: 100px;
  transition: all 0.5s;
  height: 0;
  overflow: hidden;
}
nav.topNav .navBar .mobileNav ul a {
  display: inline-block;
  color: #171717;
  font-size: 40px;
  width: 100%;
  padding: 20px 40px;
  -webkit-transition: background 0.7s, color 0.3s;
  transition: background 0.7s, color 0.3s;
}
nav.topNav .navBar .mobileNav ul a:hover,
nav.topNav .navBar .mobileNav ul a:focus {
  color: #f6f6f6;
  background: #f38d8dab;
  opacity: 0.9;
}

.image {
  position: relative;
}
.image img {
  width: 100%;
  margin: 0;
}

.image h1 {
  font-size: 80px;
  font-family: $headingFont;
  font-weight: bold;
  position: absolute;
  line-height: 92px;
  letter-spacing: 1px;
  left: 5%;
  bottom: -20%;
}

.blogPost .wrapper {
  display: flex;
}

.blogPost {
  margin-top: 60px;
}

.leftContainer img {
  max-width: 100%;
}

.leftContainer {
  width: 35%;
}
.leftContainer h4 {
  font-family: $headingFont;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

.aboutHarper {
  background-color: white;
  padding: 40px 25px;
}

.recentPosts h4 {
  font-family: $headingFont;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}
.recentPosts {
  margin-top: 20px;
  background-color: white;
  padding: 40px 25px;
}
.rightContainer {
  width: 70%;
  margin-left: 25px;
}

.harperPost h2 {
  font-family: $headingFont;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 0;
}

.harperPost p {
  font-family: $bodyFont;
  font-size: 20px;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: 0;
}
.harperPost {
  border-bottom: 5px solid $quaternary;
  padding-bottom: 40px;
  background-color: white;
  padding: 40px;
}

.comment1,
.comment2 {
  padding: 40px 25px;
  background-color: white;
  margin-top: 20px;
  display: flex;
}

.blog body {
  background-color: $senary;
}

.comments {
  display: flex;
  flex-direction: column;
}

.comment1 p,
.comment2 p {
  margin-left: 20px;
  font-family: $bodyFont;
  font-size: 20px;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: 0;
}
.comment2 {
  border-bottom: 5px solid $quaternary;
}

// Form

.blogForm {
  display: flex;
  flex-direction: column;
  font-family: $bodyFont;
  font-size: 20px;
  justify-content: space-evenly;
  width: 100%;
}

.blogForm input[type="text"],
input[type="email"] {
  padding: 15px;
  border: 0;
}
.blogForm input[type="text"] {
  margin-right: 15px;
}

.blogForm textarea {
  margin-top: 10px;
  padding-top: 20px;
  padding-left: 20px;
  border: none;
}
.blogForm {
  font-family: $bodyFont;
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
}

button {
  font-family: $headingFont;
  font-size: 20px;
  font-weight: bold;
  background-color: $secondary;
  border: none;
}
.blogForm button:hover,
.blogForm button:focus {
  color: white;
}

.blogForm .formDetails {
  margin-top: 20px;
}
