.main nav {
  background-color: $quinary;
  max-width: 100%;
}

.main ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: $primary;
  margin: 0 150px;
  padding: 0;
}

.main li {
  list-style-type: none;
}

.main li:nth-child(3) a {
  font-size: 42px;
  margin: 10px 30px;
}
.main li a {
  color: $primary;
  font-family: $headingFont;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin: 0 20px;
}

.main {
  background-color: $quinary;
  height: 70vh;
  max-width: 100%;
}

.main .wrapper {
  position: relative;
}
.main .everyDay {
  display: none;
}
.main h1 {
  position: absolute;
  top: 350px;
  left: 650px;
  font-family: $headingFont;
  font-size: 7.5rem;
  font-weight: bold;
  line-height: 92px;
  letter-spacing: 1px;
}

.main .img1 {
  position: absolute;
  top: 200%;
  left: 5%;
  box-shadow: 20px 20px white;
}
.main .img2 {
  position: absolute;
  top: 345px;
  left: 940px;
}
