// Main Section
.main nav {
  background-color: $quinary;
  max-width: 100%;
}

.main ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: $primary;
  margin: 0 150px;
  padding: 0;
}

.main li {
  list-style-type: none;
}

.main li:nth-child(3) a {
  font-size: 42px;
  margin: 10px 30px;
}
.main li a {
  color: $primary;
  font-family: $headingFont;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin: 0 20px;
}
.main li a:hover,
.main li a:focus {
  color: white;
  text-decoration: $quaternary underline;
}

.main {
  background-color: $quinary;
  height: 70vh;
  max-width: 100%;
}

.main .wrapper {
  position: relative;
}
.main .everyDay {
  display: none;
}
.main h1 {
  position: absolute;
  top: 350px;
  left: 650px;
  font-family: $headingFont;
  font-size: 7.5rem;
  font-weight: bold;
  line-height: 92px;
  letter-spacing: 1px;
}

.main .img1 {
  position: absolute;
  top: 200%;
  left: 5%;
  box-shadow: 20px 20px white;
}
.main .img2 {
  position: absolute;
  top: 345px;
  left: 940px;
}
.mainImage img {
  width: 100%;
}
// Who's Harper
.introduction .textContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 50px 30px 80px 653px;
}

.introduction h2 {
  font-family: $headingFont;
  font-weight: bold;
  font-size: 42px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.introduction p {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 32px;
}

.introduction button {
  width: 220px;
  font-family: $headingFont;
  font-size: 20px;
  font-weight: bold;
  background-color: $secondary;
  border: none;
  padding: 10px;
  line-height: 32px;
  letter-spacing: 1px;
}
.introduction button:hover,
.introduction button:focus {
  color: white;
}

// Nav Options
.option1,
.option2,
.option3,
.option4 {
  display: flex;
}
.navLeft .navText a,
.navRight .navText a {
  text-decoration: none;
}
.sectionNav .navText h3:hover {
  color: $secondary;
  text-decoration: $secondary underline;
}

.sectionNav .wrapper {
  display: flex;
}

.navText {
  margin-left: 20px;
}

.fa-stack-1x,
.fa-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.fa.fa-circle-thin:before {
  content: "";
  margin-left: -10px;
  background-color: $quinary;
  border-radius: 50%;
  color: $quinary;
}

.navText h3 {
  font-family: $headingFont;
  font-size: 32px;
  font-weight: bold;
}

.navText p {
  font-family: $bodyFont;
  font-size: 20px;
  font-weight: normal;
}

span {
  margin-top: 35px;
}

.sectionNav {
  margin: 100px;
  background-color: $senary;
}

// Travel section

.travel .wrapper {
  display: flex;
  background-color: white;
  position: relative;
}

.travel h3 {
  font-family: $headingFont;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
}

.travel .textContainer p {
  font-family: $bodyFont;
  font-size: 20px;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: 0px;
}

.travel .imgContainer {
  position: absolute;
  left: 105px;
  top: -40px;
}

.travel .textContainer {
  margin-left: 48%;
  padding: 100px;
}

.travel img {
  max-width: 100%;
  box-shadow: 20px 20px $tertiary, -120px 20px $tertiary;
}

.travel .imgContainer,
.travel .textContainer {
  width: 50%;
}

.travel .textContainer button {
  width: 220px;
  font-family: $headingFont;
  font-size: 20px;
  font-weight: bold;
  background-color: $secondary;
  border: none;
  padding: 10px;
  line-height: 32px;
  letter-spacing: 1px;
}
.travel button:hover,
.travel button:focus {
  color: white;
}
// Favourite Things Section

.hobbies .wrapper {
  display: flex;
  background-color: white;
  position: relative;
}

.hobbies h3 {
  font-family: $headingFont;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
}

.hobbies .textContainer p {
  font-family: $bodyFont;
  font-size: 20px;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: 0px;
}

.hobbies .imgContainer {
  position: absolute;
  right: 10px;
  top: 40px;
}

.hobbies .textContainer {
  margin-right: 48%;
  padding: 0 100px 100px 100px;
}

.hobbies img {
  max-width: 100%;
  box-shadow: 20px 20px $quinary, 120px 20px $quinary;
}

.hobbies .imgContainer,
.hobbies .textContainer {
  width: 50%;
}

.hobbies .textContainer button {
  width: 220px;
  font-family: $headingFont;
  font-size: 20px;
  font-weight: bold;
  background-color: $secondary;
  border: none;
  padding: 10px;
  line-height: 32px;
  letter-spacing: 1px;
  margin-left: 325px;
}
.hobbies button:hover,
.hobbiesbutton:focus {
  color: white;
}

// Harper's Journey Section

.journey .wrapper {
  display: flex;
}

.journey .imgContainer {
  width: 40%;
  margin-top: 150px;
}
.journey img {
  box-shadow: 18px 18px $quaternary;
  margin-left: 120px;
}

.journey .textContainer {
  width: 60%;
  margin: 95px 100px 10 px 50px;
}

.journey h3 {
  font-family: $headingFont;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 1px;
}

.journey .textContainer p {
  font-family: $bodyFont;
  font-size: 20px;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: 0px;
}

.journey .textContainer button {
  width: 220px;
  font-family: $headingFont;
  font-size: 20px;
  font-weight: bold;
  background-color: $secondary;
  border: none;
  padding: 10px;
  line-height: 32px;
  letter-spacing: 1px;
}
.journey button:hover,
.journey button:focus {
  color: white;
}

// Gallery Section

.gallery .wrapper .imgContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 100px;
}
.gallery img {
  padding: 0 20px;
}

.gallery {
  background-color: white;
}
