html {
  font-size: 125%; //20px
}

body {
  font-family: $bodyFont;
  font-size: 1rem;
  color: $primary;
}

h1,
h2,
h3,
h4,
a,
button {
  font-family: $headingFont, sans-serif;
  color: #171717;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

h2.header1 {
  font-size: clamp(3rem, 10vw, 7rem);
}
