$headingFont: "Oswald";
$bodyFont: "Cabin";

$baseFontSize: 1rem;
// site colors
// COLOURS:

$primary: #171717;
$secondary: #f38d8d;
$tertiary: #68b0c1;
$quaternary: #227284;
$quinary: #b9dde7;
$pastelBlue: #f6f6f6;

// HEADINGS:
// h1: 80px;
// h2: 42px;
// h3: 32px;
// h4: 24px;
