@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: “”‘’;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
figure {
  margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

.main nav {
  background-color: #b9dde7;
  max-width: 100%;
}

.main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #171717;
  margin: 0 150px;
  padding: 0;
}

.main li {
  list-style-type: none;
}

.main li:nth-child(3) a {
  font-size: 42px;
  margin: 10px 30px;
}

.main li a {
  color: #171717;
  font-family: "Oswald";
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin: 0 20px;
}

.main li a:hover,
.main li a:focus {
  color: white;
  -webkit-text-decoration: #227284 underline;
          text-decoration: #227284 underline;
}

.main {
  background-color: #b9dde7;
  height: 70vh;
  max-width: 100%;
}

.main .wrapper {
  position: relative;
}

.main .everyDay {
  display: none;
}

.main h1 {
  position: absolute;
  top: 350px;
  left: 650px;
  font-family: "Oswald";
  font-size: 7.5rem;
  font-weight: bold;
  line-height: 92px;
  letter-spacing: 1px;
}

.main .img1 {
  position: absolute;
  top: 200%;
  left: 5%;
  -webkit-box-shadow: 20px 20px white;
          box-shadow: 20px 20px white;
}

.main .img2 {
  position: absolute;
  top: 345px;
  left: 940px;
}

.mainImage img {
  width: 100%;
}

.introduction .textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 50px 30px 80px 653px;
}

.introduction h2 {
  font-family: "Oswald";
  font-weight: bold;
  font-size: 42px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.introduction p {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 32px;
}

.introduction button {
  width: 220px;
  font-family: "Oswald";
  font-size: 20px;
  font-weight: bold;
  background-color: #f38d8d;
  border: none;
  padding: 10px;
  line-height: 32px;
  letter-spacing: 1px;
}

.introduction button:hover,
.introduction button:focus {
  color: white;
}

.option1,
.option2,
.option3,
.option4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navLeft .navText a,
.navRight .navText a {
  text-decoration: none;
}

.sectionNav .navText h3:hover {
  color: #f38d8d;
  -webkit-text-decoration: #f38d8d underline;
          text-decoration: #f38d8d underline;
}

.sectionNav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navText {
  margin-left: 20px;
}

.fa-stack-1x,
.fa-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.fa.fa-circle-thin:before {
  content: "";
  margin-left: -10px;
  background-color: #b9dde7;
  border-radius: 50%;
  color: #b9dde7;
}

.navText h3 {
  font-family: "Oswald";
  font-size: 32px;
  font-weight: bold;
}

.navText p {
  font-family: "Cabin";
  font-size: 20px;
  font-weight: normal;
}

span {
  margin-top: 35px;
}

.sectionNav {
  margin: 100px;
  background-color: #f6f6f6;
}

.travel .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  position: relative;
}

.travel h3 {
  font-family: "Oswald";
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
}

.travel .textContainer p {
  font-family: "Cabin";
  font-size: 20px;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: 0px;
}

.travel .imgContainer {
  position: absolute;
  left: 105px;
  top: -40px;
}

.travel .textContainer {
  margin-left: 48%;
  padding: 100px;
}

.travel img {
  max-width: 100%;
  -webkit-box-shadow: 20px 20px #68b0c1, -120px 20px #68b0c1;
          box-shadow: 20px 20px #68b0c1, -120px 20px #68b0c1;
}

.travel .imgContainer,
.travel .textContainer {
  width: 50%;
}

.travel .textContainer button {
  width: 220px;
  font-family: "Oswald";
  font-size: 20px;
  font-weight: bold;
  background-color: #f38d8d;
  border: none;
  padding: 10px;
  line-height: 32px;
  letter-spacing: 1px;
}

.travel button:hover,
.travel button:focus {
  color: white;
}

.hobbies .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  position: relative;
}

.hobbies h3 {
  font-family: "Oswald";
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
}

.hobbies .textContainer p {
  font-family: "Cabin";
  font-size: 20px;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: 0px;
}

.hobbies .imgContainer {
  position: absolute;
  right: 10px;
  top: 40px;
}

.hobbies .textContainer {
  margin-right: 48%;
  padding: 0 100px 100px 100px;
}

.hobbies img {
  max-width: 100%;
  -webkit-box-shadow: 20px 20px #b9dde7, 120px 20px #b9dde7;
          box-shadow: 20px 20px #b9dde7, 120px 20px #b9dde7;
}

.hobbies .imgContainer,
.hobbies .textContainer {
  width: 50%;
}

.hobbies .textContainer button {
  width: 220px;
  font-family: "Oswald";
  font-size: 20px;
  font-weight: bold;
  background-color: #f38d8d;
  border: none;
  padding: 10px;
  line-height: 32px;
  letter-spacing: 1px;
  margin-left: 325px;
}

.hobbies button:hover,
.hobbiesbutton:focus {
  color: white;
}

.journey .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.journey .imgContainer {
  width: 40%;
  margin-top: 150px;
}

.journey img {
  -webkit-box-shadow: 18px 18px #227284;
          box-shadow: 18px 18px #227284;
  margin-left: 120px;
}

.journey .textContainer {
  width: 60%;
  margin: 95px 100px 10 px 50px;
}

.journey h3 {
  font-family: "Oswald";
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 1px;
}

.journey .textContainer p {
  font-family: "Cabin";
  font-size: 20px;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: 0px;
}

.journey .textContainer button {
  width: 220px;
  font-family: "Oswald";
  font-size: 20px;
  font-weight: bold;
  background-color: #f38d8d;
  border: none;
  padding: 10px;
  line-height: 32px;
  letter-spacing: 1px;
}

.journey button:hover,
.journey button:focus {
  color: white;
}

.gallery .wrapper .imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 100px;
}

.gallery img {
  padding: 0 20px;
}

.gallery {
  background-color: white;
}

.contact nav {
  background-color: #b9dde7;
  max-width: 100%;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #171717;
  margin: 0 150px;
  padding: 0;
}

.navigation li {
  list-style-type: none;
}

.navigation li:nth-child(3) a {
  font-size: 42px;
  margin: 10px 30px;
}

.navigation li a {
  color: #171717;
  font-family: "Oswald";
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin: 0 20px;
}

.navigation li a:hover,
.navigation li a:focus {
  color: white;
  -webkit-text-decoration: #227284 underline;
          text-decoration: #227284 underline;
}

.contact img {
  width: 100%;
  height: 260px;
  margin: 20px 0;
}

.contact .image {
  position: relative;
}

.contact {
  position: relative;
}

.contact h1 {
  font-size: 80px;
  font-family: "Oswald";
  font-weight: bold;
  position: absolute;
  line-height: 92px;
  letter-spacing: 1px;
  left: 5%;
  bottom: -20%;
}

.contactInfo {
  margin: 80px 0 0 0;
}

.contactInfo .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactInfo {
  background-color: #f6f6f6;
}

.contactDetails {
  background-color: white;
  padding: 20px 50px 20px 20px;
  height: 50%;
}

.social {
  color: #227284;
  font-size: 20px;
  margin-left: 80px;
}

.social i {
  margin: 0 10px 0 10px;
}

.social p {
  padding: 0;
  margin: 5px 0;
  font-family: "Cabin";
  font-size: 20px;
}

.contactForm {
  margin-left: 50px;
  font-family: "Cabin";
  font-size: 20px;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

input[type=text],
input[type=email] {
  padding: 15px;
  border: 0;
  width: 48.5%;
}

input[type=text] {
  margin-right: 10px;
}

form textarea {
  margin-top: 10px;
  padding-top: 20px;
  padding-left: 20px;
  border: none;
}

button {
  font-family: "Oswald";
  font-size: 20px;
  font-weight: bold;
  background-color: #f38d8d;
  border: none;
}

.contactForm button:hover,
.contactForm button:focus {
  color: white;
}

body {
  background-color: #f6f6f6;
}

.blog nav {
  background-color: #b9dde7;
  max-width: 100%;
}

.blog ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #171717;
  margin: 0 150px;
  padding: 0;
}

.blog li {
  list-style-type: none;
}

.blog li:nth-child(3) a {
  font-size: 42px;
  margin: 10px 30px;
}

.blog li a {
  color: #171717;
  font-family: "Oswald";
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin: 0 20px;
  cursor: pointer;
}

.blog li a:hover,
.blog li a:focus {
  color: white;
  -webkit-text-decoration: #227284 underline;
          text-decoration: #227284 underline;
}

.blog .image {
  position: relative;
}

.blog img {
  max-width: 100%;
  margin: 20px 0;
}

.blog {
  position: relative;
}

.blog h1 {
  font-size: 80px;
  font-family: "Oswald";
  font-weight: bold;
  position: absolute;
  line-height: 92px;
  letter-spacing: 1px;
  left: 5%;
  bottom: -20%;
}

.blog img {
  margin-top: 0;
  width: 100%;
}

.blogPost .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogPost {
  margin-top: 60px;
}

.leftContainer img {
  max-width: 100%;
}

.leftContainer {
  width: 35%;
}

.leftContainer h4 {
  font-family: "Oswald";
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

.aboutHarper {
  background-color: white;
  padding: 40px 25px;
}

.recentPosts h4 {
  font-family: "Oswald";
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

.recentPosts {
  margin-top: 20px;
  background-color: white;
  padding: 40px 25px;
}

.rightContainer {
  width: 70%;
  margin-left: 25px;
}

.harperPost h2 {
  font-family: "Oswald";
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 0;
}

.harperPost p {
  font-family: "Cabin";
  font-size: 20px;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: 0;
}

.harperPost {
  border-bottom: 5px solid #227284;
  padding-bottom: 40px;
  background-color: white;
  padding: 40px;
}

.comment1,
.comment2 {
  padding: 40px 25px;
  background-color: white;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog body {
  background-color: #f6f6f6;
}

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment1 p,
.comment2 p {
  margin-left: 20px;
  font-family: "Cabin";
  font-size: 20px;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: 0;
}

.comment2 {
  border-bottom: 5px solid #227284;
}

.blogForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Cabin";
  font-size: 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.blogForm input[type=text],
input[type=email] {
  padding: 15px;
  border: 0;
}

.blogForm input[type=text] {
  margin-right: 15px;
}

.blogForm textarea {
  margin-top: 10px;
  padding-top: 20px;
  padding-left: 20px;
  border: none;
}

.blogForm {
  font-family: "Cabin";
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

button {
  font-family: "Oswald";
  font-size: 20px;
  font-weight: bold;
  background-color: #f38d8d;
  border: none;
}

.blogForm button:hover,
.blogForm button:focus {
  color: white;
}

.blogForm .formDetails {
  margin-top: 20px;
}

footer {
  text-align: center;
  background-color: #171717;
  color: #f6f6f6;
  margin-top: 10px;
  padding: 3px;
}

@media (max-width: 1500px) {
  .main {
    background-color: #b9dde7;
    height: 70vh;
    max-width: 100%;
  }

  .blogForm input[type=text],
input[type=email] {
    padding: 15px;
    border: 0;
    width: 47.5%;
  }

  .rightContainer .blogForm {
    width: 100%;
  }
}
@media (max-width: 1400px) {
  .travel img,
.hobbies img {
    width: 80%;
  }

  .hobbies .textContainer button {
    width: 220px;
    font-family: "Oswald";
    font-size: 20px;
    font-weight: bold;
    background-color: #f38d8d;
    border: none;
    padding: 10px;
    line-height: 32px;
    letter-spacing: 1px;
    margin-left: 55%;
  }

  .journey .imgContainer {
    width: 40%;
    margin-top: 70px;
  }
}
@media (max-width: 1200px) {
  .hobbies .textContainer button {
    width: 220px;
    font-family: "Oswald";
    font-size: 20px;
    font-weight: bold;
    background-color: #f38d8d;
    border: none;
    padding: 10px;
    line-height: 32px;
    letter-spacing: 1px;
    margin-left: 55%;
  }

  .travel .textContainer {
    margin-left: 48%;
    padding: 27px 55px;
  }

  .gallery .wrapper .imgContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 10px;
    width: 85%;
    margin: 50px 20px 50px 80px;
  }

  .gallery img {
    width: 35%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (max-width: 1000px) {
  .main h1 {
    position: absolute;
    top: 350px;
    left: 612px;
    font-family: "Oswald";
    font-size: 5.5rem;
    font-weight: bold;
    line-height: 92px;
    letter-spacing: 1px;
  }

  .main .img2 {
    position: absolute;
    top: 345px;
    left: 790px;
  }

  .journey img {
    -webkit-box-shadow: 18px 18px #227284;
            box-shadow: 18px 18px #227284;
    margin-left: 45px;
  }
}
@media (max-width: 870px) {
  .wrapper {
    width: 90%;
  }

  .main .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }

  .main {
    height: 50vh;
  }

  .main .everyDay {
    display: none;
    /* margin-top: 40px;
    color: white; */
  }

  .main .img1 {
    position: absolute;
    max-width: 37%;
    -webkit-box-shadow: 20px 20px white;
            box-shadow: 20px 20px white;
    top: 200%;
    left: 0%;
  }

  .main .img2 {
    position: absolute;
    top: 318%;
    left: 68%;
  }

  .main h1 {
    top: 400%;
    left: 47%;
    font-family: "Oswald";
    font-size: 5rem;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 1px;
  }

  .introduction .textContainer {
    margin: 10px 0;
  }

  .introduction p {
    margin: 10px 10px;
  }

  .mainImage img {
    margin-top: 20px;
    width: 100%;
  }

  .sectionNav .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .sectionNav {
    margin: 20px;
  }

  .travel .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .travel img {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
  }

  .travel .imgContainer {
    width: 100%;
    position: static;
    margin-top: 20px;
  }

  .travel .imgContainer,
.travel .textContainer {
    width: 100%;
  }

  .travel .textContainer {
    margin: 10px;
    padding: 0;
  }

  .hobbies .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .hobbies img {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
  }

  .hobbies .imgContainer {
    width: 100%;
    position: static;
    margin-top: 20px;
  }

  .hobbies .imgContainer,
.hobbies .textContainer {
    width: 100%;
  }

  .hobbies .textContainer {
    margin: 10px;
    padding: 0;
  }

  .hobbies .textContainer button {
    margin-left: 260px;
  }

  .journey .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .journey img {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0;
    width: 100%;
  }

  .journey .imgContainer {
    width: 100%;
    margin-top: 20px;
  }

  .journey .textContainer {
    width: 100%;
    margin: 20px;
    text-align: center;
  }

  .gallery .wrapper .imgContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .gallery .imgContainer img {
    margin: 10px;
    max-width: 100%;
  }

  .blogPost {
    margin: 60px 20px;
  }

  .blogForm input[type=text],
.blogForm input[type=email] {
    padding: 15px;
    border: 0;
    width: 45.5%;
  }

  .blogForm input[type=text] {
    margin-right: 5px;
  }

  .harperPost {
    padding: 0;
  }

  .blogPost .rightContainer {
    width: 90%;
  }

  .leftContainer .aboutHarper,
.leftContainer .recentPosts {
    padding: 10px;
  }

  .rightContainer .blogForm {
    width: 100%;
  }

  .contactForm {
    margin: 5px;
  }

  .contactForm input[type=text],
.contactForm input[type=email] {
    padding: 5px;
    border: 0;
    width: 47.5%;
  }

  .contactForm input[type=text] {
    margin-right: 5px;
  }

  .contactForm textarea {
    padding: 5px;
  }

  .contactInfo .social {
    margin: 0;
  }

  .contactDetails {
    padding: 10px;
  }
}
@media (max-width: 500px) {
  .main .img2 {
    display: none;
  }

  .main li:nth-child(3) a {
    font-size: 38px;
    margin: 10px 10px;
  }

  .main li a {
    color: #171717;
    font-family: "Oswald";
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 15px;
  }

  .main {
    height: 75vh;
  }

  .main .wrapper {
    max-width: 95%;
  }

  .main .img1 {
    max-width: 90%;
    -webkit-box-shadow: none;
            box-shadow: none;
    top: 150%;
    left: 5%;
  }

  .main h1 {
    top: 103px;
    left: 102px;
    font-family: "Oswald";
    font-size: 5rem;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 1px;
  }

  .main .everyDay {
    display: block;
    margin: 30px;
    color: white;
    text-align: center;
  }

  .hobbies .textContainer button {
    margin-left: 220px;
  }

  .gallery .wrapper .imgContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px;
    width: 85%;
    margin: 50px 20px 50px 38px;
  }

  .gallery img {
    width: 90%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .blog li:nth-child(3) a {
    font-size: 38px;
    margin: 10px 10px;
  }

  .blog li a {
    color: #171717;
    font-family: "Oswald";
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 15px;
  }

  .blogPost .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .blogPost {
    margin: 60px 20px;
  }

  .blog h1 {
    font-size: 80px;
    font-family: "Oswald";
    font-weight: bold;
    position: absolute;
    line-height: 92px;
    letter-spacing: 1px;
    left: 5%;
    bottom: -40%;
  }

  .rightContainer .harperPost {
    padding: 10px;
  }

  .blogForm input[type=text],
input[type=email] {
    padding: 15px;
    border: 0;
    width: calc(100% -70px);
  }

  .aboutHarper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .blogPost .leftContainer {
    width: 100%;
  }

  .blogPost .rightContainer {
    width: 100%;
  }

  .leftContainer h4 {
    text-align: center;
  }

  .recentPosts ul {
    text-align: center;
    padding: 0;
    list-style: none;
  }

  .navigation li:nth-child(3) a {
    font-size: 38px;
    margin: 10px 10px;
  }

  .navigation li a {
    color: #171717;
    font-family: "Oswald";
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 15px;
  }

  .contactInfo .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact .wrapper {
    position: relative;
  }

  .contact img {
    width: 100%;
    height: 260px;
    margin: 0px;
  }

  .contact h1 {
    font-size: 65px;
    position: absolute;
    left: 60px;
    bottom: -80px;
  }

  .contactInfo .contactForm {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }

  .contactDetails .social {
    margin: 0;
    text-align: center;
  }
}